body {
    margin: 0;
    padding: 0;
    width: 1300px;
    min-width: 1300px;
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
}

html {
    display: flex;
    justify-content: center;
}

/* Ícones */
#icons {
    max-width: 20px;
    filter: invert(48%) sepia(27%) saturate(5273%) hue-rotate(5deg) brightness(100%) contrast(100%);
}

#icons2 {
    max-width: 20px;
}

/* Cabeçalho */
header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1300px;
    background: linear-gradient(90deg, #2D6A4F, #1B4332);
    color: #FFB703;
    padding: 7px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

header .logo {
    margin-left: 20px;
}



header nav ul {
    list-style: none;
    margin-right: 20px;
    padding: 0;
    display: flex;
    gap: 20px;
}

header nav li {
    padding: 15px;
    border-radius: 10px;
    transition: ease background-color 0.3s;
}

header nav li a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #FFB703;
    text-decoration: none;
    font-weight: bold;
    transition: ease color 0.3s;
}

header nav li:hover {
    background-color: #302e298f;
}

header nav li:hover a {
    color: #2D6A4F;
}

header nav li:hover #icons {
    filter: invert(67%) sepia(54%) saturate(365%) hue-rotate(75deg) brightness(100%) contrast(100%);
}

/* Conteúdo */
main {
    text-align: center;
    padding: 40px 20px;
    background-color: #F1F1F1;
    padding-top: 130px;
}

main h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

#central {
    font-size: 40px;
    font-weight: 50px;
    color: #2D6A4F;
}

.banner {
    display: flex;
    gap: 70px;
    justify-content: center;
    margin: 50px;
}

.forms{
    width: 400px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3); /* branco com 30% de opacidade */
    backdrop-filter: blur(10px); /* blur no fundo */
    border: 1px solid;
    padding: 10px;
    transition: all 0.3s ease;
}

.formImg{
    background-image: url("/src/dentistas.jpeg") ;
    background-repeat: no-repeat;              
    background-size: cover;                      
    background-position: center center;
}

.forms input{
    margin:10px;
    border-radius:40px;
    border: solid green 2px;
    width:300px
}

#txtMsg {
    height:100px
}
#submitBtn {
    border-radius:10px;
    padding:10px;
    font-size:19px;
    color:#FFB703;
   background:  #2D6A4F;
   border:none;
   transition: all 0.3s ease;

}

#submitBtn:hover {
    border-radius:20px;
    padding:10px;
    font-size:19px;
   background:#FFB703;
   color:  #2D6A4F;
   border:none;
}

#banner-principal {
    width: 800px;
    font-size:17px;
    text-align: center;
}

#img-main {
    border-radius:0px;
    margin:100px;
}

.banner-inside {
    width: 400px;
    text-align: center;
    border-radius: 20px;
    background-color: #34373a1f;
    padding: 10px;
    transition: all 0.3s ease;
}

.banner-inside p {
    text-align: justify;
    margin: 10px;
}

.banner-inside:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

.banner img {
    width: 300px;
    max-width: 100%;
    border-radius: 50%;
}

/* Botão principal */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #FFB703;
    padding: 20px 40px;
    border-radius: 12px;
    text-decoration: none;
    color: #2D6A4F;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.card:hover {
    background: #ffa41b;
    transform: translateY(-3px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

/* Rodapé */
footer {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 40px 15px 15px 15px;
}

/* Pagian FAQ */

#perfil{
    object-fit: cover;
    width: 150px;
    height: 150px;
    transition: all 0..3s ease;
}


.box {
    display: flex;
    flex-direction: row;
}

.box p{
    text-align: justify;
    max-width: 500px ;
    margin: 30px;
    align-items: center;
    display: flex;
}

.box img {
    margin: 40px;
    height: 140px;
    border-radius: 50%;
}

.box-left {
    display: flex;
    flex-direction: row-reverse;
}

.box-left p{
    text-align: justify;
    max-width: 500px ;
    margin: 30px;
    align-items: center;
    display: flex;
}

.box-left img {
    margin: 40px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    width: 140px ;
}



/* Página Sobre */
#justifyp {
    text-align: justify;
}

.titulo {
    font-size: 39px;
    color: #bfd850;
    padding: 50px;
}

.titulo2 {
    font-size: 39px;
    color: #f18228;
    padding: 50px;
}

.banner-inside-menor {
    text-align: center;
}

#informacoes-eqp h2 {
    color: #f18228;
}

#verde h2 {
    color: #bfd850;
}

#informacoes-sobre {
    margin-top: 200px;
    gap: 200px;
}

.banner-inside-menor h2 {
    font-size: 39px;
    margin-bottom: 0;
}

.banner-inside-menor p {
    margin-top: 1px;
    font-size: 19px;
}

.banner-inside-menor img {
    width: 150px;
    transition: width 0.3s ease;
}

.banner-inside-menor img:hover {
    width: 160px;
}

#banner2 {
    margin-top: 150px;
}

/* Página Equipe */
.titulo-equipe {
    font-family: "Playwrite DE Grund";
    font-size: 70px;
}

/* Container da equipe */
.container_equipe {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Card com efeito flip */
.card-equipe {
    width: 300px;
    height: 360px;
    perspective: 8100px;
    position: relative;
    flex-shrink: 0;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
    z-index: 1;
}

.card-equipe:hover .card-inner {
    transform: rotateY(180deg);
    z-index: 10;
}

/* Frente do card */
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card-front {
    background: #FFB703;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.card-front img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.card-front h3 {
    margin: 0;
    color: #42424e;
    font-size: 23px;
    font-family: "Playwrite DE Grund";
}

/* Verso do card */
.card-back {
    background: #2D6A4F;
    color: #fff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
}

.card-back p {
    font-size: 14px;
    margin: 5px 0;
}

.card-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.card-buttons a {
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Botão Linkedin */
.btn-linkedin {
    background-color: #0A66C2;
}

.btn-linkedin:hover {
    background-color: #004182;
}

/* Botão GitHub */
.btn-github {
    background-color: #6b0379;
}

.btn-github:hover {
    background-color: #430a5a;
}
